<nav class="navbar navbar-expand-lg navbar-light navbar-cor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado ">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://i.imgur.com/A9IpJe3.jpg" alt="imagem do user" width="40px" height="40px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="text-white fs-15">User Name</p>
        </li>
        <li class="nav-item pl-3">
            <A href="">
                <img src="https://i.imgur.com/9hvrCf2.png?1" alt="edit-icon" width="30px" height="30px" class="img-fluid icon-edit m=0">
            </A>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center" >
        <li class="nav-item pl-3">
            <a class="text-white fs-15">Sair</a>
            <img src="https://i.imgur.com/EoqFNvN.png?1" alt="get-out" width="20px" height="20px" class="img-fluid icon-edit m=0" >
        </li>
      </ul>
    </div>
  </nav>
