<footer class="page-footer font-small pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-secondary"> Siga-nos nas redes bb</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/paivawes/" target="_blank"> 
                        <img src="https://i.imgur.com/Ttestfq.png" alt="github-icon" width="30px" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/paivawes/" target="_blank"> 
                        <img src="https://i.imgur.com/I6Z62ai.png" alt="instagram-icon" width="30px" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/paivawes/" target="_blank"> 
                        <img src="https://i.imgur.com/t8HaUaS.png" alt="linkedin-icon" width="30px" height="30px">
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-secondary">© 2021 copyright</span>
    </div>

</footer>
