<div class="container-fluid">

    <div class="row d-flex aling-items-center" >

        <div class="col-md-6" >
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3"> Login </h1>

                    <div class="form-group">
                        <label for="user">Usuário</label>
                        <input class="form-control" type="text" name="user" id="user" placeholder="your user">
                    </div>

                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="your password">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success"> Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">
                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/register'>Cadastre-se</a>
                    </p>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6" id="img-bg">
            </div>
        </div>





    </div>









</div>
